.notes {
  display: flex;
  flex-direction: column;
  position: relative;
  /* min-height: 100%; */
  overflow: auto;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: rgb(218, 218, 218);
  border-radius: 15px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  color: #333;
}

.notes-header h2 {
  padding: 5px;
  font-size: 24px;
  font-weight: 500;
}

.add-note-btn {
  position: absolute;
  background: transparent;
  right: 10px;
  bottom: 10px;
  border: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.add-note-btn i {
  font-size: 34px;
  color: #db4c3f;
}

.note {
  background-color: #333;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
}

.note-content {
  height: 170px;
  font-size: 18px;
  background-color: none;
  border: none;
  outline: none;
  padding: 5px;
  overflow: auto;
  /* border: 1px solid #ddd; */
  margin-bottom: 5px;
  /* font-weight: bolder; */
  /* line-height: 2em; */
}

.note-content::first-line {
  font-size: 22px; /* tamanho da fonte da primeira linha */
  font-weight: 600;
  line-height: 2em;
}

.notes-list {
  height: 100%;
  overflow-y: auto;
}

.save-note {
  position: absolute;
  top: 0;
  right: 0;
  padding: 11px 20px;
  font-size: 14px;
  background-color: #db4c3f;
  color: white;
  border: none;
  cursor: pointer;
}
.delete-note {
  position: absolute;
  top: 1px;
  right: 80px;
  padding: 10px 20px;
  font-size: 14px;
  background-color: #fff;
  color: #db4c3f;
  border: none;
  cursor: pointer;
}

.note-preview {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.note-title {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.note-date {
  font-size: 0.8em;
  color: #777;
}
